body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #000;
    background-image: url(kosmos.jpg);
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    margin: 0
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace
}

.App {
    margin: 0 auto 40px;
    padding: 20px;
    width: 90%
}

.header__logo {
    margin: 0;
    padding: 0;
    width: 150px
}

.header__logo:hover {
    box-shadow: 0 0 54px -12px rgba(255, 56, 0, .41)
}

.header__item {
    background-color: #242424;
    border: 2px solid #fff;
    border-radius: 10px;
    margin: 10px;
    padding: 10px 20px;
    text-transform: uppercase
}

.header__item a {
    color: #82c7ff;
    text-decoration: none
}

.header__item:hover {
    background-color: hsla(0, 0%, 47%, .6)
}

.header__list {
    display: flex;
    list-style: none
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0
}

@media only screen and (max-width:680px) {
    .header {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        width: 100%
    }
    .header__list {
        flex-wrap: wrap;
        padding-left: 10px;
        padding-right: 10px
    }
    .header__item {
        width: 100%
    }
    .header__logo {
        padding: 0
    }
}

.page-main {
    grid-gap: 44px;
    display: grid;
    gap: 44px;
    grid-template-columns: 1fr 1fr;
    margin: 40px 0 0;
    padding: 0;
    width: 100%
}

@media only screen and (max-width:800px) {
    .page-main {
        display: block;
        grid-template-columns: 1fr 2fr;
        width: 100%
    }
}

.star {
    -webkit-animation: star 10s ease-out infinite;
    animation: star 10s ease-out infinite
}

.wars {
    -webkit-animation: wars 10s ease-out infinite;
    animation: wars 10s ease-out infinite
}

.byline span {
    -webkit-animation: spin-letters 10s linear infinite;
    animation: spin-letters 10s linear infinite
}

.byline {
    -webkit-animation: move-byline 10s linear infinite;
    animation: move-byline 10s linear infinite
}

@-webkit-keyframes star {
    0% {
        opacity: 0;
        -webkit-transform: scale(1.5) translateY(-.75em);
        transform: scale(1.5) translateY(-.75em)
    }
    20% {
        opacity: 1
    }
    89% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    to {
        opacity: 0;
        -webkit-transform: translateZ(-1000em);
        transform: translateZ(-1000em)
    }
}

@keyframes star {
    0% {
        opacity: 0;
        -webkit-transform: scale(1.5) translateY(-.75em);
        transform: scale(1.5) translateY(-.75em)
    }
    20% {
        opacity: 1
    }
    89% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    to {
        opacity: 0;
        -webkit-transform: translateZ(-1000em);
        transform: translateZ(-1000em)
    }
}

@-webkit-keyframes wars {
    0% {
        opacity: 0;
        -webkit-transform: scale(1.5) translateY(.5em);
        transform: scale(1.5) translateY(.5em)
    }
    20% {
        opacity: 1
    }
    90% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    to {
        opacity: 0;
        -webkit-transform: translateZ(-1000em);
        transform: translateZ(-1000em)
    }
}

@keyframes wars {
    0% {
        opacity: 0;
        -webkit-transform: scale(1.5) translateY(.5em);
        transform: scale(1.5) translateY(.5em)
    }
    20% {
        opacity: 1
    }
    90% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    to {
        opacity: 0;
        -webkit-transform: translateZ(-1000em);
        transform: translateZ(-1000em)
    }
}

@-webkit-keyframes spin-letters {
    0%,
    10% {
        opacity: 0;
        -webkit-transform: rotateY(90deg);
        transform: rotateY(90deg)
    }
    30% {
        opacity: 1
    }
    70%,
    86% {
        opacity: 1;
        -webkit-transform: rotateY(0);
        transform: rotateY(0)
    }
    95%,
    to {
        opacity: 0
    }
}

@keyframes spin-letters {
    0%,
    10% {
        opacity: 0;
        -webkit-transform: rotateY(90deg);
        transform: rotateY(90deg)
    }
    30% {
        opacity: 1
    }
    70%,
    86% {
        opacity: 1;
        -webkit-transform: rotateY(0);
        transform: rotateY(0)
    }
    95%,
    to {
        opacity: 0
    }
}

@-webkit-keyframes move-byline {
    0% {
        -webkit-transform: translateZ(5em);
        transform: translateZ(5em)
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes move-byline {
    0% {
        -webkit-transform: translateZ(5em);
        transform: translateZ(5em)
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

.starwars-demo {
    height: 17em;
    left: 50%;
    -webkit-perspective: 800px;
    perspective: 800px;
    position: relative;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    -webkit-transform-style: preserve3d;
    transform-style: preserve3d;
    width: 30em
}

.byline span {
    display: inline-block
}

img {
    width: 100%
}

.byline,
.star,
.wars {
    position: absolute
}

.star {
    top: -.75em
}

.wars {
    bottom: -.5em
}

.byline {
    color: #fff;
    font-family: "ITC Serif Gothic", Lato;
    font-size: 2em;
    left: -2em;
    letter-spacing: .4em;
    right: -2em;
    text-align: center;
    text-transform: uppercase;
    top: 29%
}

@media only screen and (max-width:600px) {
    .starwars-demo {
        font-size: 10px
    }
}

@media only screen and (max-width:480px) {
    .starwars-demo {
        font-size: 7px
    }
}

.select-list {
    background-color: #242424;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    list-style: none;
    margin: 0 40px 0 0;
    padding: 0;
    width: 100%
}

.select-item:hover {
    background-color: #505050
}

.select-item {
    border-top: 2px solid #505050;
    font-size: 24px;
    height: 40px;
    padding: 14px
}

@media only screen and (max-width:800px) {
    .select-list {
        margin-bottom: 40px;
        text-align: center;
        width: 100%
    }
}

.select-list-page {
    background-color: #242424;
    border: 2px solid #fff;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    padding: 40px 20px 20px;
    width: 100%
}

.select-list-page p {
    color: rgba(0, 0, 0, .6);
    font-size: 40px;
    font-weight: 500;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    text-shadow: 2px 2px 3px hsla(0, 0%, 100%, .1);
    text-transform: uppercase
}

.select-list-page__title {
    color: #fff;
    margin: 0 0 20px;
    padding: 0;
    text-transform: uppercase
}

.select-list-page__item {
    border-top: 2px solid #505050;
    font-size: 22px;
    padding: 14px
}

.select-list__planet__img {
    border-radius: 10px;
    object-fit: contain;
    object-position: top;
    width: 220px
}

.persone_img {
    object-fit: contain;
    width: 100%
}

.persone_img-flex {
    flex-wrap: wrap
}

@media only screen and (max-width:680px) {
    .select-list-page {
        flex-wrap: wrap;
        padding: 5px
    }
    .select-list__planet__img {
        border-radius: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
        width: 100%
    }
    .select-list-page__item {
        width: 90%
    }
    .select-list-page__title {
        text-align: center
    }
    .select-list-page__list {
        margin: 0;
        width: 100%
    }
    .select-list-page p {
        font-size: 26px
    }
}

@media only screen and (max-width:1080px) {
    .select-list__planet__img {
        margin-right: 20px;
        width: 150px
    }
}

.planet {
    display: flex;
    justify-content: flex-start
}

.planet-block {
    align-items: center;
    background-color: #242424;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 40px;
    position: relative
}

.planet__img {
    border-radius: 10px;
    height: 240px;
    object-fit: contain;
    width: 240px
}

.planet__title {
    color: #fff;
    font-size: 30px;
    margin: 0;
    padding: 0 0 10px;
    text-transform: uppercase
}

.planet__info {
    list-style: none;
    margin: 0;
    padding: 0
}

.planet__item {
    border-top: 2px solid #505050;
    font-size: 24px;
    padding: 14px
}

.planet__list {
    margin-left: 20px
}

@media only screen and (max-width:680px) {
    .planet {
        flex-wrap: wrap;
        padding: 5px
    }
    .planet__img {
        border-radius: 10px;
        margin: 20px auto;
        width: 300px
    }
    .planet__item {
        width: 90%
    }
    .planet__title {
        padding-top: 0;
        text-align: center
    }
    .planet__list {
        margin: 0;
        width: 100%
    }
}

.cloneMan {
    padding-right: 50px;
    width: 228px
}

@media only screen and (max-width:1075px) {
    .cloneMan {
        display: none
    }
}


/*# sourceMappingURL=main.294c71b3.css.map*/